name: Book CI

on:
  push:
    branches: # build any changes to main
      - main
  pull_request: # build all PRs

jobs:
  changes:
    name: Check for changes
    runs-on: ubuntu-latest
    env:
      GRADLE_OPTS: -Dorg.gradle.jvmargs=-Xmx2048m -XX:MaxMetaspaceSize=1024m
    outputs:
      src: ${{ steps.filter.outputs.changes }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Check if source changed
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            src:
              - 'src/docs/**'
              - 'src/main/**'
              - 'supplemental-ui/**'
              - '*.gradle'
              - 'gradle*'
              - '*.js'
              - '*.json'
              - '*.toml'
              - '*.yml'

  gradle:
    needs: changes
    if: ${{ needs.changes.outputs.src != '[]' && needs.changes.outputs.src != '' }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        java: ['17']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
        cache: 'gradle'
    - name: Build book
      run: npm run setup
    - name: Build site
      run: npm run build:site
